.navigation {
  align-self: center;
  display: flex;
  font-size: small;
}

.navigation > a {
  margin: 0em;
}

.contact-us-box {
  align-content: center;
  border: solid;
  font-size: small;
  height: 1.5em;
  position: fixed;
  padding: 0.25em;
  right: 0.5em;
  width: 10em;
}

/* .logo {
  width: 15em;
} */
/* .text-logo {
  font-size: 2.5em;
  font-weight: bold;
}

.left-logo {
  color: darkblue;
}

.right-logo {
  color: darkred;
} */
