.contact-us-box-sm {
  /* opaque white background: */
  background-color: rgba(255,255,255,0.5);
  bottom: 0.5em;
}

.header-sm {
  background-color: white;
  display: flex;
  height: 1em;
  justify-content: left;
  padding-bottom: 2.25em;
  padding-top: 0.25em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

/* .text-logo-sm {
  font-size: 1.75em;
} */

.logo-sm {
  width: 10em;
}
