.header-lg {
  background-color: white;
  display: flex;
  height: 4em;
  justify-content: start;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.navigation {
  align-self: center;
  display: flex;
  font-size: small;
}

.navigation > a {
  margin: 0em;
}

.contact-us-box {
  align-content: center;
  border: solid;

  font-size: small;
  height: 1.5em;
  position: fixed;
  bottom: 0.5em;
  padding: 0.25em;
  right: 0.5em;
  width: 10em;
}

.text-logo {
  font-size: 2.5em;
  font-weight: bold;
}

.left-logo {
  color: darkblue;
}

.right-logo {
  color: darkred;
}
