
.mobile-menu {
  display: flex;
  z-index: 100;
}
.mobile-menu-bars {
  position: absolute;
  height: 1.4em;
  /* margin-left: 7em; */
  margin-top: 0.5em;
  right: 1em;
}
.bar {
  position: relative;
  background-color: black;
  height: 0.2em;
  margin: 0.2em;
  width: 1.5em;
  z-index: 2;
}
.tip-right {
  top: 0.6em;
  transition: 300ms ease all;
  transform: rotate(0.15turn);
}
.tip-left {
  bottom: 0.2em;
  transition: 300ms ease all;
  transform: rotate(-0.15turn);
}
.hide {
  visibility: hidden;
  opacity: 0.1;
  transition: all 100ms ease, 150ms;
}

.level {
  top: 0em;
  bottom: 0em;
  transition: 300ms ease all;
  transform: rotate(0turn);
}
.unhide {
  top: 0em;
  bottom: 0em;
  opacity: 1;
  transition: all 100ms ease 150ms;
  visibility: visible;
}

.mobile-menu-dock {
  align-items: flex-start;
  background-color: lightgray;
  border-radius: 5%;
  box-shadow: -0.1em 0.1em 0.5em black;
  display: flex;
  flex-wrap: wrap;
  height: 14em;
  margin: 0em;
  padding-left: 0.5em;
  padding-top: 1em;
  position: absolute;
  right: 0em;
  top: 0em;
  width: 8em;
  z-index: 1;

  transform: translate(0.5em);
  transition: transform 500ms ease;
}

.mobile-menu-dock-hide {
  transform: translate(10em);
  transition: transform 500ms ease;
}

.mobile-menu-dock-item {
  height: 1em;
  padding: 0.2em;
  list-style-type: none;
}
/* Use a wrapper to prevent browser from increasing doc width */
.mobile-menu-dock-wrapper {
  overflow: hidden;
  z-index: 99;
}

/* .mobile-menu-dock-wrapper-hide {
  transform: scale(0);
  transition: transform 500ms ease;
} */
