/*
Fonts
DIN condensed - titles, bullets, content
Helvetica - submission forms
Times New Roman - pg 5, traditional home
avenir next - pg 8 labels, next pg 'no more execuses'
*/

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: white;
  color: #190404;
  font-family: din-condensed, sans-serif;
}

a, a:visited {
  color: #190404;
  text-decoration: none;
}

a:hover {
  color: #d42320;
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

.main {
  color: white;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.main-sm-screen {
  /* TODO */
  /* grid-row: 2 / 51;
  grid-template-rows: repeat(28, 149px); */
}

/* print background-image by default */
@media print
{
    * {-webkit-print-color-adjust:exact;}
}
