html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: white;
  color: #190404;
  font-family: din-condensed, sans-serif;
}

a, a:visited {
  color: #190404;
  text-decoration: none;
}

a:hover {
  color: #d42320;
}

.main {
  color: white;
  display: grid;
  grid-row: 2 / 51;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(51, 150px);
}

.footer {
  background-color: #003366;
  grid-column: 1 / 11;
  grid-row: 49 / 54 ;
  z-index: 2;
}
