html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: white;
  color: #190404;
  font-family: din-condensed, sans-serif;
}

a, a:visited {
  color: #190404;
  text-decoration: none;
}

a:hover {
  color: #d42320;
}

.main {
  color: white;
  display: grid;
  grid-row: 2 / 51;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(51, 149px);
}

.main-sm-screen {
  /* TODO */
  grid-template-rows: repeat(29, 149px);
}

.footer {
  background-color: #003366;
  grid-column: 1 / 11;
  grid-row: 49 / 53 ;
  /* z-index: 2; */
}

.footer-sm-screen {
  grid-row: 28 / 30;
}
