body {
  background-color: white;
  color: #190404;
  font-family: din-condensed, sans-serif;
}

a, a:visited {
  color: #190404;
  text-decoration: none;
}

a:hover {
  color: #d42320;
}

.main {
  color: white;
  display: grid;
  grid-row: 2 / 51;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(51, 150px);
}

.footer {
  background-color: #003366;
  grid-column: 1 / 11;
  grid-row: 49 / 54 ;
  z-index: 2;
}

/* ----------------------------------- */
@media (min-width: 500px) {

  .navigation {
    font-size: large;
  }

  .navigation > a {
    margin-right: 1em;
    margin-left: 1em;
  }

  .color-section {
  }

  .contact-us-box {
    align-content: center;
    border: solid;
    font-size: inherit;
    padding: 1em;
    position: absolute;
    right: 2em;
    top: 1em;
  }
}
