.connector-text-sm-screen {
  left: 5em;
  top: 15em;
}

.connector-line-sm-screen {
  height: 25em;
  margin-left: 2em;
  top: -90px;
}

.connector-text-little-sm-screen {
  font-size: normal;
}

.connector-text-big-sm-screen {
  font-size: x-large;
}

.connector-container-sm-screen {
  height: 30em;
}
