.connector-text-lg-screen {
  left: 35em;
  top: 15em;
}

.connector-line-lg-screen {
  height: 37em;
  margin-left: 16.8em;
  top: -125px;
}

.connector-text-little-lg-screen {

}

.connector-text-big-lg-screen {
  font-size: xx-large;
}

.connector-container-lg-screen {
  height: 40em;
}
