.connector-text-sm-screen {
  left: 5em;
  top: 15em;
}

.connector-line-sm-screen {
  margin-left: 2em;
}

.connector-text-little-sm-screen {
  font-size: normal;
}

.connector-text-big-sm-screen {
  font-size: x-large;
}
