.connector-container {
  color: #190404;
  /* background: linear-gradient(0.25turn, white 15%, white 15%, lightgrey); */
  background-color: white;
  grid-column: 1 / 11;
  z-index: 1;
  /* Small Screens */
  height: 20em;
}

.connector-line {
  align-items: center;
  background-color: white;
  border: solid lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;
  /* Small Screens */
  height: 20em;
  margin-left: 1em;
  top: -15em  ;
  width: 0.1em;
}

.connector-bullet {
  background-color: clear;
  border: solid darkgrey;
  border-radius: 100%;
  height: 1.5em;
  margin: -1em;
  position: relative;
  width: 1.5em;
  left: -7;
  z-index: 3;
}

.connector-bullet-background {
  background-color: white;
  border-radius: 100%;
  height: 1.75em;
  margin: -1em;
  position: relative;
  top: 0;
  left: 5;
  width: 1.75em;
  z-index: 1;
}

.connector-bullet-pulse {
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  border-radius: 100%;
  height: 1.9em;
  margin: -1.3em;
  position: relative;
  top: 0;
  left: -1.5;
  width: 1.9em;
  z-index: 2;
}

.connector-text {
  display: inline-block;
  position: relative;
  opacity: 0;
  /* Small Screens */
  left: 3em;
  top: 1em;
  width: 15em;
}

/* both big and small text repeat some styles
  to show background between the text blocks */
.connector-text-big {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 14px white;
  /* Small Screens */
  font-size: x-large;
}

.connector-text-little {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 14px white;
  font-size: normal;
}

.fadeIn {
  animation: fadeIn 1.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: fadeOut 1.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes pulsate {
  0% {transform: scale(1, 1); opacity: 0.0; background-color: lightgrey;}
  30% {opacity: 1.0; background-color: lightgrey;}
  90% {opacity: 0.0; background-color: lightgrey;}
  100% {transform: scale(1.7, 1.7); opacity: 0.0; background-color: lightgrey;}
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}
