
.section {
  background-color: #4c4646;
  grid-column: 1 / 11;
  font-size: large;
  font-weight: bold;
  height:1000px;
  /* z-index: 2; */
  /* style background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.section > p {
  font-size: x-large;
  margin: 3em;
}

.section-sm-screen {
  background-size: 130%;
  display: flex;
  width: 120%;
}

.section-sm-screen > p {
  font-size: small;
}

.protect {
  background-image: url('../../img/girl-dog-big.jpg');
  /* gap for 'collapsing' navbar   */
  margin-top: 6.5em;
}

.protect-sm-screen {
  height: 265px;
}

.protect-sm-screen > p {
  color: white;
}

.safety {
  background-image: url('../../img/mother-baby.jpg');
}

.safety-sm-screen {
  height: 275px;
}

.safety-sm-screen > p {
  color: white;
}

.products {
  background-image: url('https://media.front.xoedge.com/images/3bff8536-3d16-4407-b6f7-72cbedfedfba~rs_1080.h');
  color: black;
}

.products-sm-screen {
  height: 275px;
}

.products-sm-screen > p {
  color: white;
}

.testimonials {
  background-image: url('../../img/girl-dog-food.jpg');
}

.testimonials-sm-screen {
  height: 275px;
}

.color-boxes {
  display: flex;
  height: 500px;
}

.color-boxes-sm {
  color: white;
  display: grid;
  height: 50em;
}

.color-box {
  align-items: center;
  border: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.color-box-sm {
  height: 10em;
  width: auto;
}

.box-one {
  background-color:#4c0d0b;
}

.box-two {
  background-color: #5d0f0e;
}

.box-three {
  background-color: #6e1210;
}

.box-four {
  background-color: #7f1513;
}

.box-five {
  background-color: #901816;
}
