
.section {
  background-color: #4c4646;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #d8ab17;
  font-weight: bold;
  grid-column: 1 / 11;
  /* Small Screens */
  background-position-x: -7em;
  background-position-y: -2em;
  background-size: 35em;
  height: 265px;
}

.section-lg-screen {
  background-position: top;
  background-size: cover;
  font-size: large;
  height: 1000px;
  margin-top: 5em;
}

.background-blue {
  background-color: rgba(40%,70.2%,100%,50%);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 7px rgba(40%,70.2%,100%,50%);
}

.background-white {
  background-color: rgba(100%, 100%, 100%, 75%);
  border-radius: 10px;
  box-shadow: 0px 0px 14px 14px rgba(100%, 100%, 100%, 75%);
}

.background-solid-yellow {
  background-color: #d8ab17;
}

.heading {
  font-size: 3em;
  /* font-weight: bold; */
  margin: 0;
}

.heading-lg-screen {

}

.subheading {
  font-size: 1.5em;
  margin: 0;
  margin-top: 0.2em;
  width: 5em;
}

.heading-lg-screen {

}

.list {
  font-size: 1em;
  margin-left: 3em;
  margin-top: 1.25em;
  padding: 0;
  /* padding-top: 1em; */
}

.subheading-lg-screen {
  width: auto;
}

.section-text {
  font-weight: lighter;
  margin-left: 0.5em;
}

.section-text-lg-screen {
  font-size: 40;
  margin-left: 3em;
  padding-top: 2.5em;
}

.protect {
  background-image: url('../../img/boy-mother-flowers.jpg');
  /* Small Screens */
  /* background-position-x: -7em;
  background-position-y: -2em;
  background-size: 35em; */
  /* height: 265px; */
  margin-top: 6em;
}

.protect-lg-screen {
  background-position: top;
  background-size: cover;
  height: 1300px;
  margin-top: 5em;
}


.protect-text {
  font-weight: lighter;
  margin-left: 0.5em;
}

.protect-text-lg-screen {
  font-size: 40;
  margin-left: 3em;
  padding-top: 2.5em;
}

.safety {
  background-image: url('../../img/boy-firefighter-back.jpg');
  /* Small Screens */
  margin-top: 1em;
}

.safety-text-lg-screen {
  font-size: 40;
  margin-left: 3em;
  padding-top: 2.5em;
}

.products-section {
  background-image: url('../../img/father-son-door.jpg');
  margin-top: 2em;
}

.products-text-lg-screen {

}

.automation {
  background-image: url('../../img/family-new-home.jpg');
}

.automation-lg-screen {
}

.cpr {
  background-image: url('../../img/girl-dog-look.jpg');
}

/* --------------------------------- */
/* .color-boxes {
  display: flex;
  height: 500px;
}

.color-boxes-sm {
  color: white;
  display: grid;
  height: 50em;
}

.color-box {
  align-items: center;
  border: #190404;
  display: flex;
  justify-content: center;
  width: 20%;
}

.color-box-sm {
  height: 10em;
  width: auto;
}

.box-one {
  background-color:#4c0d0b;
}

.box-two {
  background-color: #5d0f0e;
}

.box-three {
  background-color: #6e1210;
}

.box-four {
  background-color: #7f1513;
}

.box-five {
  background-color: #901816;
} */
