
.section {
  background-color: #4c4646;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d8ab17;
  font-weight: bold;
  grid-column: 1 / 11;
  /* Small Screens */
  background-position: left;
  display: flex;
  /* width: 75%; */
}

.section-lg-screen {
  background-position: top;
  font-size: large;
  height: 1000px;
}

.heading {
  font-size: 3em;
  /* font-weight: bold; */
  margin: 0;
}

.heading-lg-screen {

}

.subheading {
  font-size: 1.5em;
  margin: 0;
  width: 5em;
}

.subheading-lg-screen {
  width: auto;
}

.list {
  font-size: 1em;
  padding-top: 1em;
}

.protect {
  background-image: url('../../img/boy-mother-flowers.jpg');
  /* Small Screens */
  background-position-x: -7em;
  background-position-y: -2em;
  background-size: 35em;
  height: 265px;
  margin-top: 4em;
}

.protect-lg-screen {
  background-position: top;
  background-size: cover;
  height: 1300px;
  margin-top: 5em;
}


.protect-text {
  font-weight: lighter;
  margin-left: 0.5em;
}

.protect-text-lg-screen {
  font-size: 40;
  margin-left: 3em;
  padding-top: 2.5em;
}

.safety {
  background-image: url('../../img/boy-firefighter-back.jpg');
}
/* --------------------------------- */
.safety-sm-screen {
  height: 275px;
}

.safety-sm-screen > p {
  color: white;
}

.products {
  background-image: url('../../img/father-son-door.jpg');
  color: #190404;
}

.products-sm-screen {
  height: 275px;
}

.products-sm-screen > p {
  color: white;
}

.testimonials {
  color: #190404;
  /* background-image: url('../../img/girl-dog-food.jpg'); */
  background-image: url('../../img/family-new-home.jpg');
}

.testimonials-sm-screen {
  height: 275px;
}

.color-boxes {
  display: flex;
  height: 500px;
}

.color-boxes-sm {
  color: white;
  display: grid;
  height: 50em;
}

.color-box {
  align-items: center;
  border: #190404;
  display: flex;
  justify-content: center;
  width: 20%;
}

.color-box-sm {
  height: 10em;
  width: auto;
}

.box-one {
  background-color:#4c0d0b;
}

.box-two {
  background-color: #5d0f0e;
}

.box-three {
  background-color: #6e1210;
}

.box-four {
  background-color: #7f1513;
}

.box-five {
  background-color: #901816;
}
