body {
  background-color: white;
  color: #190404;
  font-family: sans-serif;
  height: 100%;
}

a, a:visited {
  color: #b21d1b;
  text-decoration: none;
}

a:hover {
  color: #d42320;
}

#app {
  width: 100%;
}

.main {
  display: grid;
  grid-row: 2 / 51;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(25, 1fr);
  width: 100%;
}

.main-content {
  background-color: #4c4646;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(27, 1fr);
  grid-column: 1 / 11;
  grid-row: 2 / 30;
}

.title {
  color: #d42320;
  font-size: large;
  font-weight: bold;
  grid-column: 3 / 8;
  grid-row: 1 / 3;
  margin: 1em;
}

.footer {
  background-color: #003366;
  color: white;
  grid-column: 1 / 11;
  grid-row: 25;
  /* height: 30em; */
  /* z-index: 2; */
}

.connector-container {
  /* background-attachment: fixed; */
  background-color: white;
  color: #A79661;
  display: flex;
  grid-column: 1 / 11;
  /* grid-row: 3 / 7; */
  height: 15em;
  /* z-index: 1; */
}

.connector {
  /* align-self: center; */
  background-color: #190404;
  /* height: 20em; */
  margin-left: 1em;
  /* overflow: hidden; */
  width: 1px;
}

.section {
  background-color: #4c4646;
  color: white;
  grid-column: 1 / 11;
  /* grid-row: 4 / 9; */
  /* height: 20em; */
  z-index: 1;
}
