body {
  background-color: white;
  color: #190404;
  font-family: sans-serif;
  /* height: 100%;
  width: 100%; */
}

a, a:visited {
  color: #190404;
  text-decoration: none;
}

a:hover {
  color: #d42320;
}

#app {
  /* width: 100%; */
}

.main {
  color: white;
  display: grid;
  grid-row: 2 / 51;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(45, 150px);
}

.footer {
  background-color: #003366;
  grid-column: 1 / 11;
  grid-row: 41 / 46 ;
  /* height: 30em; */
  /* z-index: 2; */
}

.main-content {
  /* background-color: #4c4646; */
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(20, 1fr);
  grid-column: 1 / 11;
  grid-row: 2 / 26;
}

.connector-container {
  /* background-attachment: fixed; */
  /* background-color: white; */
  background: linear-gradient(0.25turn, white 17em, white 17em, lightgrey);
  /* color: #A79661; */
  /* display: flex; */
  grid-column: 1 / 11;
  /* grid-row: 3 / 7; */
  height: 40em;
  z-index: 1;
}

/* .connector-seperator {
  align-items: center;
  background-color: none;
  color: #4c4646;
  display: flex;
  height: 45em;
  margin-left: 17em;
  position: absolute;
  width: 2px;
} */

.connector-line {
  align-items: center;
  background-color: white;
  border: solid lightgrey;
  border-radius: 5px;
  display: flex;
  height: 38em;
  justify-content: center;
  margin-left: 16.8em;
  margin-top: 1em;
  overflow: visible;
  width: 0.25em;
}

.connector-bullet {
  background-color: white;
  border: solid darkgrey;
  border-radius: 100%;
  height: 30px;
  margin: -1em;
  position: relative;
  width: 30px;
}

/* .parallax {
  perspective: 1px;
  height: 25em;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax_layer--back {
  transform: translateZ(-1px);
} */

.section {
  background-color: #4c4646;
  grid-column: 1 / 11;
  font-size: large;
  font-weight: bold;
  /* z-index: 1; */
  height:1000px;
  z-index: 2;
}

.section > p {
  font-size: x-large;
  margin: 3em;
}

.protect {
  background-image: url('./img/girl-dog-big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.safety {
  background-image: url('./img/mother-baby.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.products {
  background-image: url('https://media.front.xoedge.com/images/3bff8536-3d16-4407-b6f7-72cbedfedfba~rs_1080.h');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: black;
}

.testimonials {
  background-image: url('./img/girl-dog-food.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.color-boxes {
  display: flex;
  height: 500px;
}

.color-box {
  align-items: center;
  border: black;
  display: flex;
  justify-content: center;
  width: 25%;
}

.box-one {
  background-color:#4c0d0b;
}
.box-two {
  background-color: #5d0f0e;
}
.box-three {
  background-color: #6e1210;
}
.box-four {
  background-color: #7f1513;
}
.box-five {
  background-color: #901816;
}

/* ----------------------------------- */
@media (min-width: 500px) {
  .logo {
    /* left: 1em; */
    margin: 0.5em;
    /* position: absolute; */
    width: 209px;
  }

  .navigation {
    font-size: large;
  }

  .navigation > a {
    margin-right: 1em;
    margin-left: 1em;
  }

  .color-section {
  }

  .contact-us-box {
    align-content: center;
    border: solid;
    font-size: inherit;
    padding: 1em;
    position: absolute;
    right: 2em;
    top: 1em;
  }
}
