.header {
  background-color: white;
  display: flex;
  /* grid-column: 1 / 11; */
  /* height: 10em; */
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
}



.navigation {
  align-self: center;
  margin-right: 1em;
}
