.header-lg {
  background-color: white;
  display: flex;
  /* grid-column: 1 / 11; */
  height: 4em;
  justify-content: start;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.header-sm {
  background-color: white;
  display: flex;
  height: 1em;
  justify-content: left;
  padding-bottom: 2.25em;
  padding-top: 0.25em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;

}

.logo {
  height: 50px;
  width: 80px;
}

.navigation {
  align-self: center;
  display: flex;
  font-size: small;
}

.navigation > a {
  margin: 0em;
}
.contact-us-box {
  align-content: center;
  border: solid;
  font-size: small;
  height: 1.5em;
  position: fixed;
  bottom: 0.5em;
  padding: 0.25em;
  right: 0.5em;
  width: 10em;
}

.font-test {
  font-size: 2.5em;
  font-weight: bold;
}
.left-logo {
  color: darkblue;
}
.right-logo {
  color: darkred;
}
